<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>

<body>
  <%- include("partials/navbar") %>

  <div class="container">
   
    <h1 class="titleUserHome">Discover users who were active recently</h1>

    <!-- cada twit  -->
    <div class="twit-container ">
      <% feedResults.forEach(twit => { %>
      <div class="row my-3">
        <!-- Usuario -->

        <div class="col-1">
            <img class="img-thumbnail avatar-twit" src=<%- twit.author.avatar %> alt="" />
        </div>
        <div class="col-11">
          <div class=" d-flex justify-content-between">
            <div class="d-flex justify-content-start">
              <p>
                <strong>
                  <a href="/profile/<%- twit.author.username %>" class="TwAuthorName"> <%- twit.author.firstname %>
                    <%- twit.author.lastname %>
                  </a>
                </strong> 
              </p>
              <p class="TwAuthorUsername"><%- "@" +  twit.author.username %></p>
            </div>
            <% if(userSession.following.indexOf(twit.author._id) != -1) { %>
            
              <form action="/follow" method="POST">
                <input type="hidden" name="author" value=<%- twit.author._id %> />
                <button class="btn btn-outline-secondary" type="submit">Unfollow</button>
              </form>
            <% } else { %>
                <form action="/follow" method="POST">
      
                  <input type="hidden" name="author" value=<%- twit.author._id %> />
                  <button class="btn btn-outline-secondary" type="submit">Follow</button>
                </form>
            <% } %>

          </div>
          <p class="twContent"><%- twit.body %></p>

        </div>

        <!-- Twit -->
        <div class="col-12">
          <div class="d-flex justify-content-between">
            <p class="twDate"> <%- twit.dateOfCreation %></p>
            <div class="d-flex justify-content-end">
              <p class="like-counter"> <%- twit.likes.length %></p>


              <% if (twit.likes.indexOf(userSession._id) != -1) { %>
              <form action="/like" method="POST">

                <input type="hidden" name="author" value=<%- twit._id %> />
                <button class="btn-dislike btn btn-outline-danger" type="submit">Dislike!</button>

              </form>
              <% } else { %>
              <form action="/like" method="POST">

                <input type="hidden" name="author" value=<%-twit._id %> />
                <button class="btn-like btn btn-outline-success" type="submit">Like!</button>
              </form>
              <% } %>
            </div>
          </div>
        </div>
        <hr>

      </div>
     <% }) %> 
    </div>

  </div>


  
</body>

</html>